div{
    height: 100px;
    font-size: xx-large;
    padding: 30px;
    border-top: 3px solid brown;
    border-bottom: 3px solid brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    

}